@import './node_modules/reset-css/reset.css';

body {
    min-height: 100vh;

}

dialog {
    border-radius: 10px;
}

label,
textarea {
    font-size: 0.8rem;
    letter-spacing: 1px;
}

textarea {
    padding: 10px;

}

#reviewForm label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#nook {
    display: grid;
}